<div class="block max-w-sm p-2 md:p-6 bg-white border border-2 border-gray-500 rounded-lg shadow-sm">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 justify-self-center"><%= animal.name.titleize %></h5>
  <% if File.exist?(Rails.root.join("app/assets/images/animals/#{animal.name.downcase}.webp")) %>
    <%= image_tag "animals/#{animal.name.downcase}.webp", alt: "#{animal.name} image", class: 'rounded-lg' %>
  <% else %>
    <%= image_tag "animals/placeholder.webp", alt: "Image not available", class: 'rounded-lg grayscale opacity-50' %>
  <% end %>
  <div class="flex justify-between mt-4">
    <%= image_tag "svg/#{animal.habitat}.svg", size: '48' %>
    <%= image_tag "svg/#{animal.group}.svg", size: '48' %>
  </div>
</div>
